.hero {
    padding: 2rem 0;
  }
  
  .content {
  }
  
  .wrapperPhoto {
    text-align: center;
    position: relative;
    animation: fly 1.5s ease-in-out 0.5s alternate infinite;
  }
  
  .information {
    position: relative;
  }
  
  .name {
    font: 700 1.5rem "poppins";
    color: hsla(220, 23%, 5%, 1);
  }
  
  .title {
    font: 700 2rem "poppins";
    color: hsla(220, 23%, 5%, 1);
    margin-bottom: 0.5rem;
  }
  
  .description {
    font: normal 1.125rem/1.5rem "wotfard";
    color: hsla(220, 23%, 5%, 1);
    margin-bottom: 1.25rem;
  }
  
  .button {
    font: 500 1rem/1.5rem "wotfard";
    width: 100%;
    height: 42px;
    border-radius: 4px;
    background-color: hsla(222, 88%, 55%, 1);
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    /* style neon*/
    background-color: hsl(212, 100%, 48%);
    box-shadow: 0 4px 14px 0 #0056d0;
    border-radius: 4px;
  }
  
  .button:active {
    transform: scale(0.98);
  }
  
  .highlightBlue {
    /* color: var(--secondary); */
  
    /* style neon */
    background-image: linear-gradient(
      hsl(212, 100%, 48%) 25%,
      hsl(187, 99%, 46%) 100%
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .focus,
  .target,
  .check {
    position: absolute;
    width: 40px;
    height: 40px;
  }
  
  .focus {
    bottom: 40px;
    animation: fly 1.5s ease-in-out 0.5s alternate infinite;
  }
  
  .target {
    right: 30px;
    animation: fly 1.5s ease-in-out 0.5s alternate infinite;
  }
  
  @keyframes fly {
    from {
      transform: translateY(4px);
    }
    to {
      transform: translateY(-4px);
    }
  }
  
  @media (min-width: 768px) {
    .hero {
      padding: 5rem 0;
    }
  
    .content {
      display: flex;
    }
  
    .wrapperPhoto {
      flex: 1;
      order: 2;
    }
  
    .information {
      flex: 2;
    }
  
    .title {
      font: 700 4rem "poppins";
    }
  
    .description {
      font: normal 1.5rem/1.9rem "wotfard";
      max-width: 600px;
    }
    .button {
      max-width: 280px;
    }
  
    /* decorations */
  }